header{
	    margin-top: 50px;
}
header nav{
	text-align: center;
	text-transform: uppercase;
	/*box-shadow: 0px 2px 5px #888;*/
	font-family: "SairaSemiCondensed-Regular";
	font-weight: 450;
}
nav{
    /*border:1px solid #ccc;*/
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
p{
	font-family: "SairaSemiCondensed-Regular";

}
nav ul {
	    padding-left: 0px;
}
nav li{
    display:inline;
	font-family: "SairaSemiCondensed-SemiBold";

}
.list-social img{
	height: 100%;
}
.list-social a{
	    height: 32px;
    padding-top: 0px;
}
nav a{
    display:inline-block;
    padding:10px;
        font-weight: 500;
    line-height: 1.1;
    color: #000000;
	font-family: "SairaSemiCondensed-SemiBold";
}
nav a:hover {
    color: #000000;
     text-decoration: none; 
}
.text-header h2{
	font-family: "SairaSemiCondensed-SemiBold";

}
#content .jumbotron-thaoduoc{
	margin-top: 25px;
	margin-bottom: 0;
	padding: 150px o;
	background-image: url(img/IMG_5893.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;<!--chinhr không bị bụt 2 bên-->
	font-family: serif;
	text-align: center;
}
.container-small{
	width: 1122px;
	margin-top: 74px;
}
.jumbotron-thaoduoc #text{
	padding-top: 80px;
}
.banner-2 #text-2{
	padding-top: 80px;
}
#text-2 h1{
	color: whitesmoke;
	text-shadow: 0px 2px 5px #888;
}
#text-2 p{
	color: whitesmoke;
	    font-size: 21px;
	        text-shadow: 0px 2px 5px #888;
}
#text h1{
	color: whitesmoke;
	text-shadow: 0px 2px 5px #888;
}
#text p{
	color: whitesmoke;
	    font-size: 21px;
	        text-shadow: 0px 2px 5px #888;
}
#text .btn-feature{
	color: aliceblue;
	border: 1px solid;
}
#text .btn-feature:hover{
	color: darkgray;
}
#feature1 .row{
	padding: 30px 0;
	text-align: center;
	background-color: whitesmoke;
}
.plant-over>img{
			transition: 2000ms ease-in-out;
		}
.plant-hover img {
	transform: rotate(2turn);
}
#feature2 .row{
	padding: 45px 0;
	background-color: #3498db;
	text-align: center;
	color: white;
	text-shadow: 0px 2px 5px #888;
}
#bell>img {
	animation-name: myrotate;
	animation-delay: 0s;
	animation-direction: normal;
	animation-duration: 1.7s;
	animation-fill-mode: none;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
}
@keyframes myrotate{
			0%{
				transform: rotate(0deg);
			}
			35%{
				transform: rotate(-30deg);
			}
			
			70%{
				transform: rotate(30deg);
			}
		}
#leader>h2{
	transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.leader-hover h2{
	transform: scaleY(1.7) scaleX(1.7) scaleZ(1.7);
	color: brown;
	
}
#feature3 .row{
	padding: 30px 0;
}
#iconcar{
	background-color: darkgray;
}
#feature4{
	padding: 30px 0;
	background-color: whitesmoke;
}
.jumbotron-1{
	padding: 50px 50px;
	/*background-image: url(img/IMG_5890.jpg);*/
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;<!--chinhr không bị bụt 2 bên-->
	font-family: serif;
	text-align: center;
	    padding-top: 0px;
}

.jumbotron-2{
	padding: 50px 50px;
	/*background-image: url(img/IMG_5895.jpg);*/
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;<!--chinhr không bị bụt 2 bên-->
	font-family: serif;
	text-align: center;
	    padding-top: 0px;
}

.banner-2{
	margin-bottom: 0;
	padding: 150px o;
	background-image: url(img/IMG_5888.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;<!--chinhr không bị bụt 2 bên-->
	font-family: serif;
	text-align: center;
}
.banner-footer{
	margin-top: 50px;
	margin-bottom: 0;
	padding: 150px o;
	background-image: url(img/IMG_5888.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;<!--chinhr không bị bụt 2 bên-->
	font-family: serif;
	text-align: center;
	/* Add the blur effect */
	  filter: blur(8px);
	  -webkit-filter: blur(2px);
	  
	  /* Full height */
	  /*height: 100%; */
	  
	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
}
.text-banner{
  color: white;
  font-weight: bold;
  /*border: 3px solid #f1f1f1;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.position-relative{
	position: relative;
}
.text-banner a{
	color: white;

}
.text-banner a:focus, a:hover {
    color: white;
    text-decoration: underline;
}
.text-detail-banner{
	margin-top: 90px;
	/*float:left;*/
}
#footer{
	padding: 40px 0;
	
}
#footer li{
	padding-top: 30px;
}

