{% extends "layout.html" %}


{% block main_content %} 
<div id="content">
	<div id="image-about">
		<img id='' src="{{ STATIC_URL }}assets/images/about.jpg" style="width: 80%; height: 500px">
	</div>
	<br>
	<br>
	<div class="container container-small">
		<p>Spa treatments are the services that a spa provides. The most popular spa treatment in the United States, by far, is massage. It has been around for thousands of years and has a number of health benefits.

		Other popular spa treatments include facials and body treatments like salt glows and body wraps. Most spas have a nail salon offering spa manicures and spa pedicures. Some spas, especially hotel and resort spas, usually have signature services that might combine several different treatments: a body scrub followed by a massage and a mini-facial, for instance. Many day spas are attached to salons that offer additional service, like haircuts, coloring, styling, and makeup.

		Spa treatments are presented in a spa menu that is basically a list of everything a spa offers. They are usually grouped together by the type of spa treatment, and most spas list the services by name. There are several categories you can expect to see.</p>
				
		<h4>Specialty Massages</h4>
		<p>
		Once you've tried the basic massage, you might want to branch out to different types of massage, which may or may not be available, like ​Thai massage or reflexology. These also require special training and might not be available everywhere.

		Sports massage is good if you're dealing with some pain or restriction due to your favorite activities. If you're pregnant, you need a prenatal massage because there are special training, techniques, precautions, and equipment for the mom-to-be.

		Sometimes a spa will offer a "customized massage" with a fancy name. Frankly, all massage should be customized, but usually, they say that this massage will call on the therapist's full range of massage skills, depending on what you need and want. It seems gimmicky, but it may be a way to get a more seasoned therapist who has a command of more techniques.
		</p>
		<h4>Facials</h4>
		<p>
		Facials are the second most popular spa treatment. Sometimes there are so many choices that it's hard to decide: Do you book the anti-aging facial, a European facial, or the deep-cleansing facial?

		Don't fret too much. Facials have the same basics steps: Cleanse, exfoliate, extract, massage, and mask. The main difference is the skincare products used in each facial, and most spas carry at least two lines. One might be more active, like Hydropeptide. The other might be more natural, like the yummy-smelling Eminence line from Hungary.

		For guidance, talk to the staff at the front desk for help. Also, the esthetician can take a look at your skin and recommend the right facial, even if you booked one with a different name. 

		Facial extras might include a gentle peel, an ampule of a special serum, more time for scalp and foot massage, or special equipment like LED light therapy.
		</p>
		<h4>Body Treatments</h4>
		<p>
		Body treatments are an under-rated spa service because people tend to think they can do it themselves at home. Of course, you can, but it won't be as thorough, effective, or relaxing. The basic body scrub exfoliates your outermost, dead skin cells with a salt scrub (rougher), a sugar scrub (gentler), or some other exfoliant, like coffee grounds or fruit enzymes that gently loosen the inter-cellular bonds. It is usually followed by a shower and an application of lotion. 

		A body scrub can be a stand-alone treatment, but it is often combined with a body wrap that is either hydrating (adding moisture to the skin) or detoxifying (anything with clay, mud, or seaweed). 

		Once you've been exfoliated and have showered off the salt or sugar, you get back up on the table and lay down so the cream, clay, mud, or seaweed can be applied. Then you're wrapped up and kept warm for about 20 minutes, hopefully getting a head massage at the same time.

		If it's a hydrating treatment, you don't want to rinse off the cream. If it's clay, mud, or seaweed, you go back into the shower, then come back for a quick application of lotion.

		Body scrubs and wraps often show up in longer treatments called rituals or signature treatments.

		Remember, the most important thing you can do to enjoy your trip to the spa is arriving at least 15 minutes before your treatment is scheduled to begin. That way you can check in, change into your robe, and start to relax. If the spa has facilities like a sauna, a steam bath, or hot tub, arrive even earlier.
		</p>
	</div>
</div>
{% endblock %}