{% extends "layout.html" %}


{% block main_content %} 
<div id="content">
	<div id="action"  style="text-align: center;" >
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1864.1208040678935!2d108.34705706280177!3d15.883516405811374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31420dcf7c6b86f7%3A0xd90cc6b61e6b409d!2zNiBUcuG6p24gQsOsbmggVHLhu41uZywgQ-G6qW0gQ2jDonUsIEjhu5lpIEFuLCBRdeG6o25nIE5hbSwgVmlldG5hbQ!5e0!3m2!1sen!2sus!4v1572022868673!5m2!1sen!2sus" width="80%" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
	<div class="col-md-offset-1">
		<h2>ADDRESS</h2>

		<p>06 Trần Bình Trọng, Cẩm Châu</p>
		<p>Hoi An, Quang Nam-Da Nang, Vietnam</p>
		<p>Mobile: 0914795171</p>
		<p>Email: emeraldwaterspa@gmail.com</p>
	</div>
</div>
{% endblock %}