{% extends "layout.html" %}


{% block main_content %} 
<div id="content">
	<div id="action">
		<div class="jumbotron-thaoduoc">
			<div id="text" class="text-banner-1">
				<h1>ENJOY SPA SERVICE</h1>
				<p>Body wraps to re-mineralise the body, re-charge the body with nutrients and elements,<br>boosting moisture in the skin, helping to rejuvenate and relax the body and mind.</p>
			</div>
		</div>
	</div>
	<!-- END BANNER 1 -->
	<div  class="container container-small margin-vertical" id="slide-2" >
		<div class="col-md-4 jumbotron-0">
			<p>OUR STORY</p>
			<h2>WELCOME TO SPA</h2>
			<p>The massage is excellent, the herbal tea is awesome. Friendly and gentle owner with good English. Well-trained, friendly and very caring staff. The facilities are clean and look great.</p>
			<br>
			<p>The massage bath can penetrate the subcutaneous tissue to cleanse the body. It is also protected by active oxygen to prevent bacterial and fungal infections, improve allergic and infectious skin diseases, and whiten the skin.</p>
			<br>
			<p>The SPA Hydrotherapy Massage bath can relax the body muscles, relieve stress, and do acupressure at the same time to help open up the body's meridians to achieve the sporty effect, promote health, and easily remove one day's fatigue. (Please drink water before and after use).</p>

		</div>
		<div class="col-md-4 jumbotron-1">
			<img src="{{ STATIC_URL }}assets/images/IMG_5890.jpg" style="width: 100%">
		</div>
		<div class="col-md-4 jumbotron-2">
			<img src="{{ STATIC_URL }}assets/images/IMG_5895.jpg" style="width: 100%">
		</div>
	</div>
	<!-- END BANNER 2 -->
	<div id="action" class="margin-vertical">
		<div class="banner-2">
			<div id="text" class=" text-banner-2">
				<h1>ENJOY YOUR LIFE</h1>
				<p>Body wraps to re-mineralise the body, re-charge the body with nutrients and elements<br>, boosting moisture in the skin, helping to rejuvenate and relax the body and mind.</p>
			</div>
		</div>
	</div>
	<!-- END BANNER 3 -->
	<div id="slide-3" class="container container-small margin-vertical" >
		<h2 class="row text-center">MENU</h2>
		<div class="col-md-4">
			<p>OUR STORY</p>
			<p>The massage is excellent, the herbal tea is awesome. Friendly and gentle owner with good English. Well-trained, friendly and very caring staff. The facilities are clean and look great.</p>
		</div>
		<div class="col-md-4">
			<p>OUR STORY</p>
			<p>The massage is excellent, the herbal tea is awesome. Friendly and gentle owner with good English. Well-trained, friendly and very caring staff. The facilities are clean and look great.</p>
		</div>
		<div class="col-md-4">
			<p>OUR STORY</p>
			<p>The massage is excellent, the herbal tea is awesome. Friendly and gentle owner with good English. Well-trained, friendly and very caring staff. The facilities are clean and look great.</p>
		</div>
	</div>
	<!-- END BANNER 4 -->
</div>
{% endblock %}