<div id="footer">
	<div class="position-relative">
		<div class="text-center">
			<div class="banner-footer"></div>
			<div class="text-banner">
				<h1>EMERALD WATER SPA</h1>
				<p>SPA massage health bath, can make the body cells active, improve physical fitness, and increase blood flow every day.</p>
				<div class="text-detail-banner">
					<div class="col-md-4">
						<p>OPEN HOUR</p>
						<p>MON - SUN: 10:00 am - 6:00 pm .</p>
					</div>
					<div class="col-md-4">
						<p>LOCATION</p>
						<p>06 Tran Binh Trong Street,<br> Hoi An City, Viet Nam.</p>
					</div>
					<div class="col-md-4">
						<p>RESERVATION</p>
						<p>0914795171<br>emeraldwaterspa@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="end-footer container container-small">
	<div class="row">
	<div class="pull-left">
		<p>HOANG NGUYEN Design</p>
	</div>
	<div class="pull-right">
		<ul>
		  <li><a href="/">Home</a></li>
		  <li><a href="/news/">News</a></li>
		  <li><a href="/contact/">Contact</a></li>
		  <li><a href="/about/">About</a></li>
		</ul>
	</div>
	</div>
</div>