<header>
	<div class="text-header text-center">
		<h2>EMERALD WATER SPA</h2>
		<p>06 Tran Binh Trong Street, Hoi An City, Viet Nam</p>
		<nav>
			<ul>
			  <li><a href="#home">Home</a></li>
			  <li><a href="#news">News</a></li>
			  <li><a href="#contact">Contact</a></li>
			  <li><a href="#about">About</a></li>
			</ul>
			<ul class='list-social'>
			  <li><a href="https://www.facebook.com/Emerald-Waters-Spa-H%E1%BB%99i-An-100205551394522/" target="_blank"><img src="{{ STATIC_URL }}assets/images/icon-fb.jpg"></a></li>
			  <li><a href="#news"><img src="{{ STATIC_URL }}assets/images/icon-in.jpeg"></a></li>
			  <li><a href="#contact"><img src="{{ STATIC_URL }}assets/images/icon-wh.jpg"></a></li>
			</ul>
		</nav>
			
	</div>
</header>